<?xml version="1.0"?>
<!--
/**
* Easylife_Switcher extension
*
* NOTICE OF LICENSE
*
* This source file is subject to the MIT License
* that is bundled with this package in the file LICENSE_EASYLIFE_SWITCHER.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/mit-license.php
*
* @category   	Easylife
* @package	    Easylife_Switcher
* @copyright   2013 - 2014 Marius Strajeru
* @license	    http://opensource.org/licenses/mit-license.php MIT License
*/
-->
<config>
    <sections>
        <easylife_switcher translate="label" module="easylife_switcher">
            <label>Easylife Switcher</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>400</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label" module="easylife_switcher">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label" module="easylife_switcher">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <model>easylife_switcher/adminhtml_enabled_comment</model>
                            </comment>
                        </enabled>
                        <transform translate="label" module="easylife_switcher">
                            <label>Transformation settings</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>easylife_switcher/adminhtml_system_attribute</frontend_model>
                            <backend_model>easylife_switcher/adminhtml_system_attribute</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <!-- dependency moved inside it's own js because of the disabling elements issue-->
                        </transform>
                        <keep_values translate="label" module="easylife_switcher">
                            <label>Keep previously selected values</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </keep_values>
                        <autoselect_first translate="label comment">
                            <label>Autoselect first option if none specified</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <comment>Recommended if you have 2 or more configurable attributes.</comment>
                        </autoselect_first>
                        <show_added_prices translate="label">
                            <label>Show added configurable prices in label</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </show_added_prices>
                        <out_of_stock translate="label">
                            <label>Show out of stock configurations</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </out_of_stock>
                        <allow_no_stock_select translate="label">
                            <label>Allow out of stock products to be selected</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <out_of_stock>1</out_of_stock>
                            </depends>
                        </allow_no_stock_select>
                        <options_image_resize translate="label comment">
                            <label>Label / Options image size</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <comment>Use values like 100x80 or simply 100. Leave empty for no resize</comment>
                        </options_image_resize>
                        <change_images translate="label">
                            <label>Switch product images</label>
                            <frontend_type>select</frontend_type>
                            <source_model>easylife_switcher/adminhtml_system_config_source_switch</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </change_images>


                        <change_image_attributes translate="label comment">
                            <label>Change images when these attributes are changed</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>easylife_switcher/adminhtml_system_config_source_attributes</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <change_images>1</change_images>
                            </depends>
                            <comment>Changing the configurable value of these attributes will trigger the main image to change, if available.</comment>
                        </change_image_attributes>
                        <image_selector translate="label comment">
                            <label>Dom selector for main image</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <change_images>1</change_images>
                            </depends>
                            <comment>Prototype expression that selects the main image element</comment>
                        </image_selector>
                        <use_conf_image translate="label">
                            <label>Use configurable product image if the simple one does not have images</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <change_images>1</change_images>
                            </depends>
                        </use_conf_image>
                        <image_resize translate="label comment">
                            <label>Main image size</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <change_images>1</change_images>
                            </depends>
                            <comment>Use values like 100x80 or simply 100. Leave empty for no resize</comment>
                        </image_resize>
                        <image_change_callback translate="title comment">
                            <label>Js Callback after main image change</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <change_images>1</change_images>
                            </depends>
                            <comment>JS callback to be executed after the main image is changed.</comment>
                        </image_change_callback>
                        <change_media_attributes translate="label comment">
                            <label>Change media content when these attributes are changed</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>easylife_switcher/adminhtml_system_config_source_attributes</source_model>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <change_images>2</change_images>
                            </depends>
                            <comment>Changing the configurable value of these attributes will trigger the media block to change.</comment>
                        </change_media_attributes>
                        <media_selector translate="label comment">
                            <label>Dom Media block selector</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <change_images>2</change_images>
                            </depends>
                            <comment>Prototype expression that selects the media block container</comment>
                        </media_selector>
                        <media_change_callback translate="title comment">
                            <label>Js Callback after media change</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>170</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <change_images>2</change_images>
                            </depends>
                            <comment>JS callback to be executed after the media block is changed.</comment>
                        </media_change_callback>
                        <media_block translate="title comment">
                            <label>Media block alias</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>180</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <change_images>2</change_images>
                            </depends>
                            <comment>Block type for media section. Leave empty to use default</comment>
                        </media_block>
                        <media_template translate="title comment">
                            <label>Media block template</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>190</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <change_images>2</change_images>
                            </depends>
                            <comment>Template for media block. Leave empty to use default.</comment>
                        </media_template>
                    </fields>
                </settings>
            </groups>
        </easylife_switcher>
    </sections>
</config>
